<?xml version="1.0"?>
<config>

    <!-- Configuração do Módulo -->
    <global>
        <modules>
            <Academia_HelloWorld>
                <version>0.1.0</version>
            </Academia_HelloWorld>
        </modules>

        <blocks>
            <academia_helloworld>
                <class>Academia_HelloWorld_Block</class>
            </academia_helloworld>
        </blocks>
    </global>

    <!-- Configuração de Rotas -->
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Academia_HelloWorld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
    </frontend>

</config>
