<?xml version="1.0"?>
<config>

    <!-- Configuração do Módulo -->
    <global>
        <modules>
            <FCamara_OlaMundo>
                <version>0.1.0</version>
            </FCamara_OlaMundo>
        </modules>
    </global>

    <!-- Configuração de Rotas -->
    <frontend>
        <routers>
            <olamundo>
                <use>standard</use>
                <args>
                    <module>FCamara_OlaMundo</module>
                    <frontName>olamundo</frontName>
                </args>
            </olamundo>
        </routers>
    </frontend>

</config>
